Checks: '-*,clang-analyzer-*,clang-diagnostic-*,bugprone-branch-clone,bugprone-posix-return-value,bugprone-return-pointer-range,bugprone-suspicious-memset-usage,misc-unused-using-decls,modernize-loop-convert,modernize-use-nullptr,performance-for-range-copy,performance-inefficient-string-concatenation,performance-inefficient-vector-operation,readability-braces-around-statements,readability-else-after-return,readability-redundant-control-flow,readability-redundant-smartptr-get,readability-static-accessed-through-instance'
HeaderFilterRegex: '^$'
FormatStyle: none
WarningsAsErrors: ''
...
